<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style media="screen">
      body {
        background-color: skyblue;
      }
    </style>
  </head>
  <body>
    <h1>Reservation is confirmed</h1>
    <h2>Name : ***</h2>
    <%= id %>
  </body>
</html>